:root {
  --font-family: "roboto", sans-serif;
  // color-pallette
  --color-accent: #f65261;
  --color-black-darker: #232323;
  --color-black-normal: #424242;
  --color-black-lighter: #555;
  --color-white: #fff;

  // font-size
  --font-size-small: 14px;
  --font-size-normal: 16px;
  --font-size-large: 24px;

  // margins
  --margins-small: 8px;
  --margins-normal: 16px;
  --margins-large: 24px;
  --margins-giant: 36px;
}
