$font-family: var(--font-family);
// color-pallette
$color-accent: var(--color-accent);
$color-black-darker: var(--color-black-darker);
$color-black-normal: var(--color-black-normal);
$color-black-lighter: var(--color-black-lighter);
$color-white: var(--color-white);

// font-size
$font-size-small: var(--font-size-small);
$font-size-normal: var(--font-size-normal);
$font-size-large: var(--font-size-large);

// margins
$margins-small: var(--margins-small);
$margins-medium: var(--margins-medium);
$margins-large: var(--margins-large);
$margins-giant: var(--margins-giant);
